<!-- Adding naviagtion progress bar gathering all component of the app
1. replace href per routerlink :: we get single app view-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <nav class="nav navbar-nav">
            <li><a routerLink="batch">Lancement du batch</a></li>
            <li><a routerLink="data">Tableau des données brutes</a></li>
            <li><a routerLink="table">Tableau des données</a></li>
            <li><a routerLink="chart">Chart des données</a></li>
            <li><a routerLink="datadetail">Tableau somme d'une journée</a></li>
        </nav>
    </div>
</nav>


<div class="container tomarge">
    <router-outlet></router-outlet>
</div>




